.block{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}

.mainPhoto{
    width: 100%;
    height: 80%;
}


.button{
    position: absolute;
    top: calc(40% - 25px);
    width: 50px;
    height: 50px;
    background: rgb(233, 233, 233);
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.buttonBack{
    left: 0;
}

.buttonIncrease{
    right: 0;
}

.img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    margin: 5%;
}

.allPhotos{
    display: flex;
    width: 100%;
    height: 100px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: rgb(233, 233, 233);
    border-radius: 10px;
    margin-top: 10px;
}

.allPhotos::-webkit-scrollbar{
    width: 0;
}

.smallImg{
    max-width: 100px;
    max-height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    object-fit: contain;
}

.none{
    display: none;
}

@media (max-width: 767px) {
    .button{
        position: absolute;
        top: 86%;
        width: 50px;
        height: 50px;
    }
    
    .buttonBack{
        margin-left: 30%;
    }
    
    .buttonIncrease{
        margin-right: 30%;
    }

    .allPhotos{
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: 120px;
        
    }
}

@media (max-width: 480px) {
    .block{
        margin-bottom: 0;
    }
    
    .buttonBack{
        margin-left: 20%;
    }
    
    .buttonIncrease{
        margin-right: 20%;
    }
}