.dataObject{
    width: 100%;
    margin-top: 50px;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;     
}

.intro{
    text-align: center;
}

.data{
    display: flex;
}

.photoBlock{
    width: 50%;
    height: 512px;
}

.info{
    width: 50%;
}

.typeSearch{
    display: flex;
    width: 412px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.oneTypeSearch{
    width: 200px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: rgb(102, 102, 102);
}

.oneInputWithWidth{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.buttons{
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.oneButton{
    margin-right: 5px;
    margin-left: 5px;
}


.active{
    background: rgb(247, 241, 241);
    color: black;
    border-radius: 10px;
}