.dataPeople{
    display: flex;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;     
}

.intro{
    text-align: center;
}

.aboutMe{
    width: 50%;
}

.aboutObject{
    margin-top: 50px;
}

.searchData{
    width: 50%;
}

.choiceGender{
    display: flex;
    width: 412px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.men, .women, .anyGender{
    width: 200px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: rgb(102, 102, 102);
}

.notImportant{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
    color: rgb(95, 95, 95);
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
}

.notImportantActive{
    border: 1px solid rgb(143, 143, 143);
    background: rgb(143, 143, 143);
    color: white;
}

.oneInputWithWidth{
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.buttons{
    display: flex;
}

.oneButton{
    margin-right: 5px;
}

.checkBoxes{
    width: 400px;
    margin: 0 auto;
}

.oneCheckBox{
    display: flex;
    height: 40px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.checkBox{
    margin-top: 19px;
    margin-right: 10px;
}

.active{
    background: rgb(247, 241, 241);
    color: black;
    border-radius: 10px;
}
