.card{
    position: relative;
    width: calc(100% - 4px);
    border: 2px solid rgb(163, 132, 132);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

.cardClose{
    height: 100px;
}

.data{
    height: 70px;
    margin-top: 15px;
}

.partOfData{
    width: calc(100% - 275px);
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons{
    position: absolute;
    width: 250px;
    right: 10px;
    top: 10px;
}

.favoritesButton{
    position: absolute;
    right: 40px;
}

.phone{
    position: absolute;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;   
}

.open{
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgb(163, 132, 132);
    border-radius: 100%;
    color: white;
    cursor: pointer;
}

.openActive{
    transform: rotate(180deg);
}

.cardOpen{
    height: 300px;
}

.dataOpen{
    position: relative;
    display: flex;
    margin-left: 10px;
}

.dataSearcher{
    width: 40%;
}

.dataObject{
    width: 50%;
}

.aboutMe, .comment{
    width: 90%;
    height: 180px;
    margin-top: 10px;
    overflow-y: scroll;
}

.comment{
    height: 118px;
}

.aboutMe::-webkit-scrollbar, .comment::-webkit-scrollbar {
    width: 0;
}

.helpWord{
    color: rgb(122, 122, 122);
}

@media (max-width: 880px) {
    .cardClose{
        height: 140px;
    }

    .buttons{
        width: 100px;
    }

    .favoritesButton{
        right: 0;
        top: 0;
    }
    
    .phone{
        top: 35px;
        right: 0;
    }
    
    .open{
        top: 70px;
        right: 35px;
    }

    .partOfData{
        width: calc(100% - 125px);
    }
}

@media (max-width: 650px) {
    .cardOpen{
        height: 550px;
    }

    .dataOpen{
        display: block;
    }
}

@media (max-width: 480px) {
    .cardClose{
        height: 300px;
    } 

    .cardOpen{
        height: 850px;
    }

    .buttons{
        position: relative;
        left: 0;
        width: 100%;
    }

    .favoritesButton{
        position: relative;
        left: 0;
        top: 0;
        width: fit-content;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 50px;
    }
    
    .phone{
        position: relative;
        left: 0;
        top: 0;
        width: fit-content;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 50px;
    }
    
    .open{
        position: relative;
        left: 0;
        top: 0;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
    }    
}