.profileData{
    width: 100%;
    background: rgb(247, 241, 241);
    border-radius: 10px;
}

.navbar{
    position: relative;
    height: 70px;
    display: flex;
    border-bottom: 3px solid white;
}

.nameAndPhone{
    width: 220px;
    margin-left: 20px;
    margin-top: 15px;
}

.name, .phone{
    height: 20px;
}

.correct{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.menu{
    margin-left: 10px;
    padding-bottom: 5px;
}

.partMenu{
    cursor: pointer;
}

.notCopy{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;
}