.intro{
    text-align: center;
}

.oneInput{
    width: 400px;
    max-width: calc(80%);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.choiceGender{
    display: flex;
    width: 400px;
    max-width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.men, .women{
    width: 200px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    color: rgb(102, 102, 102);
}

.active{
    background: rgb(247, 241, 241);
    color: black;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .choiceGender{
        display: block;
        width: 100%;
        height: 90px;
    }

    .men, .women{
        width: 78%;
        margin: 0 auto;
    }
}